body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
}

.search-bar {
    display: flex;
    flex-direction: column; /* Muda para coluna para empilhar os elementos */
    padding: 1rem;
}
a{
    text-decoration: none;}

.search-bar input,
.search-bar textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem; /* Espaço entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#chat-list {
    padding: 1rem;
}

.chat {
    background: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.chat-info {
    margin-left: 10px;
}

.footer-icon {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}

.footer-icon.active {
    font-weight: bold;
}

/* Estilo para o textarea */
textarea {
    resize: none; /* Desativa o redimensionamento */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
